<form id="event-form" method="post">
	<fieldset>
		<legend>Create event</legend>
		<div>
			<label>Start date</label>
			<input type="text" name="event[start_date]" class="date-input" required/>
		</div>
		<div>
			<label>End date</label>
			<input type="text" name="event[end_date]" class="date-input" required/>
		</div>
		<div>
			<label>Title</label>
			<input type="text" name="event[title]" required/>
		</div>		
	</fieldset>
	<button type="submit">Create</button>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$('.date-input').datepicker({
			format: 'dd/mm/yyyy',
			autoHide: true
		});
	});
</script>