<h1>Events calendar</h1>

<div id="calendar"></div>

<%= render 'form' %>

<script id="calendar-day" type="text/x-handlebars-template">
	<div class="day">
		<h1><span class="name">day</span> <span class="date"></span></h1>
		<div class="day-events-container">
		</div>
	</div>
</script>
<script id="event" type="text/x-handlebars-template">
	<div class="event">event</div>
</script>

<button onclick="calendarManager.changeStartDate(-7, 'days');">Previous week</button>
<button onclick="calendarManager.changeStartDate(7, 'days');">Next week</button>

<script type="text/javascript">
	var calendar = null;
	var calendarManager = null;
	$(document).ready(function(){
		calendar = new Calendar($('#calendar'), $('script#calendar-day'));
		calendar.render();
		calendarManager = new CalendarManager(calendar, '#event-form');
		calendarManager.loadEvents();
	});
</script>